input {
  border-color: gray;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 12px;
}

.first-name {
  width: 150px;
}

.last-name {
  width: 150px;
}

.email {
  display: block;
  width: 337px;
}

button {
  background-color: blue;
  border: none;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 370px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
}